<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/password.css') }}">
</head>
<body>
    <nav class="navbar2">
        <div class="navbar__container2">
            <a href="/" id="navbar__logo2">Diaries Application</a>
            <div class="navbar__toggle2" id="moble-menu2">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu2">
                <li class="navbar__item2">
                    <a href="tech.html" class="navbar__links2">
                        ACCOUNT
                    </a>
                </li>
                <li class="navbar__item2">
                    <a href="DEVELOPER_DIARIES.html" class="navbar__links2">
                        DEVELOPER_DIARIES
                    </a>
                </li>
                <li class="navbar__item2">
                    <a href="index.html" class="navbar__links2">
                        HOME
                    </a>
                </li>
                <li class="navbar__btn2">
                    <a href="tech.html" class="button">
                        SIGN_UP
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <h1>Welcome, {{ usr }}!</h1> <!-- Use {{ usr }} to display the username -->
</body>
</html>
